body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 8px;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  display: block;
  content: '';
  clear: both;
}

.col-md-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-md-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 992px) {
  .col-md-1 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-2 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-3 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-5 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-7 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-8 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-9 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-10 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-11 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
}
@font-face {
  font-family: 'Baloo 2';
  font-display: swap;
  src: url('assets/fonts/Baloo2-VariableFont_wght.ttf') format('woff2');
}
html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
}

h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 56px;
  line-height: 64px;
  font-weight: 800;
}

h2,
.txt-h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
h2.vox-cta,
.txt-h2.vox-cta {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.txt-h2 {
  font-weight: 400;
}

.txt-center {
  text-align: center;
}

@media (max-width: 992px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2.vox-cta,
  .txt-h2.vox-cta {
    font-size: 24px;
    line-height: 32px;
  }
  .txt-h2 {
    font-size: 16px;
    line-height: 24px;
  }
}
.align-b {
  align-self: flex-end;
}

.align-r {
  direction: rtl;
}

.w-100 {
  width: 100%;
}

.m-b {
  margin-bottom: 8px;
}

.m-l {
  margin-left: 16px;
}

.m-b-medium {
  margin-bottom: 24px;
}

.vox-spacer {
  height: 32px;
}
.vox-spacer--large {
  height: 96px;
}
@media (max-width: 992px) {
  .vox-spacer {
    height: 16px;
  }
  .vox-spacer--large {
    height: 48px;
  }
}

@media (min-width: 993px) {
  .view-tablet {
    display: none;
  }
}
@media (max-width: 992px) {
  .view-desktop {
    display: none;
  }
  .view-desktop.vox-header__intro {
    display: none;
  }
  .align-r--dt {
    direction: ltr;
  }
  .col-order-mobile-1 {
    order: 1;
  }
  .col-order-mobile-2 {
    order: 2;
  }
  .col-order-mobile-3 {
    order: 3;
  }
}
.vox-notice {
  padding: 8px;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.spinner {
  animation: rotation 1000ms linear;
  animation-iteration-count: infinite;
  height: 100px;
  width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.vox-list {
  margin: 8px 0;
  padding: 0 0 0 32px;
}
.vox-list li {
  margin-bottom: 16px;
  position: relative;
}
.vox-list--ticks {
  list-style: none;
}
.vox-list--ticks li:before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: url('assets/img/icons/icn-tick.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: -32px;
  top: -3px;
}

input[type='radio']:hover,
input[type='checkbox']:hover,
input[type='submit']:hover,
label:hover,
select:hover,
.btn:hover {
  cursor: pointer;
}

input,
.btn {
  background: #f5f5f5;
  color: #000000;
  border: 0;
  min-height: 56px;
  padding: 0 8px;
}
@media (min-width: 993px) {
  input,
  .btn {
    padding: 0 16px;
  }
}
input::-moz-placeholder,
.btn::-moz-placeholder {
  color: #000000;
}
input::placeholder,
.btn::placeholder {
  color: #000000;
}
input::-webkit-input-placeholder,
.btn::-webkit-input-placeholder {
  color: #000000;
}
input::-ms-input-placeholder,
.btn::-ms-input-placeholder {
  color: #000000;
}

.vox-form-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}
.vox-form-group input {
  flex-grow: 1;
}

.btn {
  background: #ff7801;
  color: #ffffff;
}

.vox-select-label {
  position: relative;
  padding: 0;
}
.vox-select-label select {
  padding: 5px 8px;
  font-size: 16px;
  border: 0;
  box-shadow: none;
  background: transparent;
  background-image: none;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
}
.vox-select-label select:focus:hover + .vox-select-label__arrow {
  transform: rotate(180deg);
}
.vox-select-label__arrow {
  display: block;
  background-color: #ffffff;
  background-image: url('assets/img/icons/icn-dropdown.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.vox-checkbox-label {
  line-height: 24px;
  position: relative;
  padding-right: 40px;
}
.vox-checkbox-label input {
  display: none;
}
.vox-checkbox-label input + .vox-checkbox-label__arrow {
  height: 24px;
  width: 32px;
  border-radius: 10px;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  right: 0;
  transition: all 0.5s;
}
.vox-checkbox-label input + .vox-checkbox-label__arrow::after {
  display: block;
  content: '';
  background: #ffffff;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}
.vox-checkbox-label input:checked + .vox-checkbox-label__arrow {
  background: #93d301;
}
.vox-checkbox-label input:checked + .vox-checkbox-label__arrow::after {
  background: #ffffff;
  top: 5px;
  right: auto;
  left: 5px;
}
.vox-header {
  background: linear-gradient(90deg, #93d301 50%, #ffffff 50%);
}
.vox-header__logo {
  position: absolute;
  top: 32px;
  width: 84px;
  height: 30px;
}
.vox-header__wrap {
  height: 640px;
}
.vox-header__wrap::before {
  display: block;
  content: '';
  background: #93d301;
}
.vox-header__intro {
  background: #93d301;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.vox-header__intro__wrap {
  position: relative;
  margin: 0 -170px 0 0;
}
.vox-header__intro p {
  margin: 0;
}
.vox-header__intro span {
  background: #ffffff;
  color: #93d301;
  font-size: 32px;
  font-weight: 700;
  padding: 0 16px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}
.vox-header__img {
  background-color: #f5f5f5;
  background: #f5f5f5 url('assets/img/hero.webp');
  padding: 0;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.vox-header__img img.view-desktop {
  height: 100%;
}
.vox-header__img img.view-tablet {
  width: 100%;
}
.vox-header__counter .col-md-3 {
  max-width: 64px;
  padding-left: 4px;
  padding-right: 4px;
}
.vox-header__counter .vox-counter {
  height: 46%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.vox-header__counter .counter {
  justify-content: center;
}
.vox-header__counter .vox-list {
  margin-left: 16px;
}

@media (max-width: 992px) {
  .vox-header {
    background: #ffffff;
  }
  .vox-header__logo {
    position: static;
    margin-top: 8px;
  }
  .vox-header__img {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    position: relative;
  }
  .vox-header__img * {
    position: relative;
    height: auto;
  }
  .vox-header__img::before {
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .vox-header__img h1 {
    background: #93d301;
    padding-top: 48px;
  }
  .vox-header__img__cta img {
    margin-top: -30px;
  }
  .vox-header__img__cta span {
    background: #93d301;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 5px;
  }
  .vox-header__img__cta p:first-child {
    margin: 32px 0 -8px 0;
  }
  .vox-header__img__cta p:nth-child(2) {
    font-size: 24px;
  }
  .vox-header__wrap {
    height: auto;
  }
  .vox-header__wrap::before {
    display: none;
  }
  .vox-header__counter .vox-counter {
    height: auto;
    margin-bottom: 24px;
  }
}
.vox-counter {
  text-align: center;
}
.vox-counter h2 {
  margin-bottom: 15px;
}

.counter .sq .bord {
  font-size: 40px;
  font-family: 'Baloo 2', cursive;
  background: #f5f5f5;
  font-weight: 800;
}

.counter .sq span {
  display: block;
  font-weight: 600;
}
.counter .sq span.smalltext {
  line-height: 32px;
}

.vox-entry__map {
  background-image: url('assets/img/map-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.vox-entry__map--right {
  background-image: url('assets/img/map-2.svg');
}
@media (min-width: 993px) {
  .vox-entry__form {
    padding: 40px;
  }
}
.vox-entry__form p {
  margin-top: 0;
}

.card {
  position: relative;
  text-align: center;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
}
.card__popular {
  font-size: 12px;
  background: #93d301;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 8px;
}
.card__cost {
  font-weight: 600;
  padding: 20px 0;
}
.card__speed {
  display: flex;
  flex-direction: row;
}
.card__speed > * {
  flex-grow: 1;
  position: relative;
  text-align: left;
  padding: 8px 8px 8px 32px;
  font-size: 12px;
}
.card__speed > *::before {
  display: block;
  content: '';
  height: 12px;
  width: 12px;
  background-image: url('assets/img/icons/icn-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 8px;
}
.card__speed--up::before {
  transform: rotate(180deg);
}
.card__logo {
  padding: 8px;
  background: #f5f5f5;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__logo object {
  height: 30px;
}
.card__logo object.logo-VUMA {
  height: 20px;
}

.vox-slider {
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  gap: 8px;
}
.vox-slider__wrap {
  width: 100%;
  display: flex;
  transition: all 0.5s;
}

.slide {
  flex: 0 0 225px;
  max-width: 225px;
  margin: 0 4px;
}
.slide:hover {
  cursor: pointer;
}
.slide.deselected {
  display: none;
}
.slide.order {
  background: #ff7801;
  color: #ffffff;
}
.slide.order .card__logo {
  background: #ff7801;
}
.slide.order object,
.slide.order *::before {
  filter: brightness(0) invert(1);
}

.vox-slider-noresults {
  display: none;
  height: 140px;
}

.vox-packages .vox-select-label {
  min-width: 225px;
  display: inline-block;
  margin: 0 8px 24px;
}
.vox-packages .vox-select-label select {
  width: 100%;
}

.vox-slider__navigation {
  position: relative;
  height: 1px;
}
.vox-slider__navigation .nav {
  display: block;
  background-color: #f5f5f5;
  background-image: url('assets/img/icons/icn-arrow-next.svg');
  width: 40px;
  height: 40px;
  position: absolute;
  top: -100px;
  right: -50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.5s;
}
.vox-slider__navigation .nav.prev {
  right: auto;
  left: -50px;
  transform: rotate(180deg);
}
.vox-slider__navigation .nav.active {
  background-color: #93d301;
}
.vox-slider__navigation .nav.active:hover {
  cursor: pointer;
}

.vox-package-load {
  position: relative;
}
.vox-package-load__spinner {
  display: none;
  position: absolute;
  top: 50px;
  left: 20%;
}
.vox-package-load__spinner.active {
  display: none;
}

@media (max-width: 992px) {
  .vox-slider {
    margin-top: 60px;
  }
  .vox-slider__navigation .nav {
    top: -200px;
    right: 0;
  }
  .vox-slider__navigation .nav.prev {
    right: 48px;
    left: auto;
  }
  .navigation-count {
    top: -190px;
    right: 96px;
    position: absolute;
  }
  .vox-package-load__short {
    max-width: 225px;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .vox-packages-display {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.vox-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.vox-modal__content {
  background: #fff;
  max-width: 800px;
  max-height: 80%;
  display: flex;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 992px) {
  .vox-modal__content {
    max-width: 100%;
    margin: 16px;
    max-height: 80%;
    padding: 16px;
  }
  .vox-modal__content .vox-form-group {
    flex-direction: column;
  }
  .vox-modal__content .vox-modal__content__close {
    top: -38px;
    right: -3px;
  }
}
.vox-modal__content__wrap {
  overflow-y: auto;
}
.vox-modal__content__wrap::-webkit-scrollbar {
  width: 20px;
}
.vox-modal__content__wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
}
.vox-modal__content__wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d9d9d9;
}
.vox-modal__content__close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('assets/img/icons/icn-close.svg');
  top: -30px;
  right: -30px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.vox-modal__content__close:hover {
  cursor: pointer;
}
.vox-modal__content--entry,
.vox-modal__content--competition,
.vox-modal__content--warning {
  display: none;
}

.vox-modal-link {
  cursor: pointer;
}

.vox-entry__map {
  overflow: hidden;
  position: relative;
}
.vox-entry__map--right .vox-celebrate {
  left: auto;
  right: -75px;
  transform: rotate(270deg);
}

.vox-celebrate {
  position: absolute;
  bottom: -75px;
  left: -75px;
} /*# sourceMappingURL=style.css.map */
