.vox-counter {
  text-align: center;
  h2 {
    margin-bottom: 15px;
  }
}

.counter .sq .bord {
  font-size: calc($base-size * 5);
  font-family: 'Baloo 2', cursive;
  background: $color-shade-1;
  font-weight: 800;
}
.counter .sq span {
  display: block;
  font-weight: 600;
  &.smalltext {
    line-height: calc($base-size * 4);
  }
}
